@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body{font-family: 'Times New Roman', Serif;}

p{font-size: small;}

nav{background-color:#f2c3c7; padding: 45px !important;}

#logo{font-size: larger; margin-right: 30px;}

#searchbar{font-size: small; border-right-color: white; background-color: white;}

#carouselid{height: 480px; object-fit: cover;}

#bannericon{padding: 0px 15px !important;font-size: 35px;}

#cards{padding: 0 50px;}
#card1{padding: 0 150px;}

#itemcard{ width: 250px ;}

footer{background-color: whitesmoke; padding: 0 50px;}

#copyright{font-size: 13px;}

#login{width: 350px; margin: 0 auto; padding: 50px 0px; font-size: medium; background-color:white;}

#form1{width: 600px; margin: 0 auto; padding: 50px 0px; font-size: medium;}

#form2{width: 700px; margin: 0 auto; padding: 50px 0px; font-size: medium;}

#form1edit{font-size: small; background-color: white;}

#exampleinput{font-size: 13px;}

input[type="file"]{display: none;}

.imageuploadsvg{cursor: pointer;}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

